.predictive-form-view {
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.visible-widgets-layout {
	flex-direction: column;
	overflow: auto;
	border: 1px solid;
	width: 100%;
	height: 65%;
}

.lower-layout {
	flex-direction: column;
	flex-shrink: 0;
	overflow: auto;
	border: 1px solid;
	width: 100%;
	height: 35%;
}

.available-widgets-holder {
	width: 100%;
	flex-wrap: wrap;
}

.selection-layout-button-group {
	width: 100%;
	justify-content: flex-end;
	margin-top: auto;
}

.selection-button {
	margin: 5px;
}

.visible-widget-view {
    font-size: xx-large;
  	background-color: var(--lumo-contrast-10pct);
    border-radius: 8px;
    margin: 5px;
    align-items: center;
    border: medium solid transparent;
}

.visible-widget-container-view {
	background-color: var(--lumo-contrast-10pct);
	flex-wrap: wrap;
	border: medium solid transparent;
}

.visible-widget-table-view {
	background-color: var(--lumo-contrast-10pct);
	flex-wrap: wrap;
	border: medium solid transparent;
	flex-direction: column;
}

.visible-widget-view-label {
	margin-left: 10px;
}

.visible-widget-view-value-label {
	margin-left: 10px;
	margin-right: 10px;
	color: var(--lumo-primary-text-color);
}

.visible-widget-view-value-layout {
	margin-left: 10px;
	margin-right: 10px;
}

.visible-widget-view-value-layout > label {
	color: var(--lumo-primary-text-color);
}

.visible-widget-view-icon {
	margin-left: 10px;
	color: var(--lumo-primary-text-color);
}

.selected-fragment {
	box-shadow: 0 2px 22px rgb(81 92 255 / 71%);
}

.text-dialog-layout {
	flex-direction: column;
}

.text-dialog-button-layout {
	justify-content: space-between;
}

.text-interval-dialog-layout {
	flex-direction: column;
}

.text-interval-dialog-button-layout {
	justify-content: space-between;
}

.integer-dialog-layout {
	flex-direction: column;
}

.integer-dialog-button-layuot {
	justify-content: space-between;
}

.double-dialog-layout {
	flex-direction: column;
}

.double-dialog-button-layuot {
	justify-content: space-between;
}

.selected-widget-view {
	border-color: var(--lumo-primary-text-color);
}

.selected-widget-container-view {
	border-color: var(--lumo-primary-text-color);
}

.date-dialog-layout {
	flex-direction: column;
}

.date-dialog-button-layuot {
	justify-content: space-between;
}

.date-interval-dialog-layout {
	flex-direction: column;
}

.date-interval-dialog-button-layuot {
	justify-content: space-between;
}

.combobox-dialog-layout {
	flex-direction: column;
}

.combobox-dialog-button-layout {
	justify-content: space-between;
}

.container-dialog-button-layout {
	justify-content: space-between;
}

.container-dialog-layout {
	flex-direction: column;
}

.widget-hidden {
	visibility: hidden;
}

.visible-widget-drawer-layout {
	flex-direction: column;
}

