.sb4-card {
	flex-basis: auto;
	border-radius: 7px;
	box-shadow: 1px 1px 4px #233348;
	width: 30%;
}

.sb4-card vaadin-board-row div {
	width: 100px;
}

.sb4-card vaadin-board-row {
	flex-flow: inherit;
    width: -webkit-fill-available;
}

.sb4-card vaadin-vertical-layout {
	align-items: center;
}

.sb4-card label {
	padding-right: 15px;
	padding-left: 15px;
}

