.virtual-keyboard-wrapper {
	flex-direction: column;
}

.virtual-keyboard-working-textfield {
	width: 100%;
	margin-left: 15px;
    margin-right: 15px;
}

.virtual-keyboard-buttonlayout {
	width: 100%;
	justify-content: space-evenly;
}