.virtual-keyboard-wrapper {
	flex-direction: column;
}

.virtual-keyboard-header {
	width: 33%;
	align-self: center;
	margin-bottom: 20px;
}

.virtual-keyboard-working-textfield {
	width: 100%;
}

.virtual-keyboard-buttonlayout {
	width: 100%;
	justify-content: center;
}

.virtual-keyboard-savingdialog-layout {
	flex-direction: column;
}

.character-list-layout {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}