:root {

  --main-toolbar-height: var(--lumo-size-xl);

  --menu-holder-width: calc(var(--lumo-size-m) * 7);
  --menu-holder-rail-width: calc(var(--lumo-size-m) * 1.75);
  --menu-item-indentation: calc(var(--lumo-icon-size-s) + var(--lumo-space-l));

  --screen-detail-width: calc(var(--lumo-size-m) * 11);

  --transition-duration-s: 160ms;
  --transition-duration-m: 240ms;
  --transition-duration-l: 320ms;

}

.root {
  background-color: var(--lumo-contrast-5pct);
}

.app-header-outer,
.app-footer-outer {
  z-index: 3;
}

